*{
	padding: 0;
	margin: 0;
}

/*----naviagtion-----*/
#nav-bar
{

	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img {
	height: 80px;
	padding-left: 5px;
}
.navbar-nav li{
	
	padding: 0 30px;
	display: inline-block;
	
}
.navbar-nav li a{
	float: right;
	text-align: left;


}
#nav-bar ul li a:hover{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
.title{
	background-color: #555;
}
#slider{
 width: 100%;
 height: 100%;	
}
.carousel-caption{
	top: 50%;
	transform: translate(-50);
	bottom: initial!important;
}
.carousel-caption h5{
color: maroon;
font-size: 42px;
}

.carousel-item img{ 

	font-size: 100px;

}
.carousel-inner img
{
	font-size: 110px;
}
/*----about us-----*/
#about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #000;
}
#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20px;
}

#services{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #000;
}
#services .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}
.services-content
{
	padding-top: 20px;
}


profile-pic{
	margin-top: 25px;
}
.profile-pic .img-box{
	opacity: 1;
	display: block;
	position: relative;
}

.profile-pic .img-box img{
	filter:grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}

.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	
}
.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	
}
#team .fa
{
height: 25px;
width: 25px
color:#007bff !important;
background-color: #fff;
padding:4px;
border-radius: 50%;
}
.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;


}
.img-box ul li{
	padding: 5px;
	display: inline-block;
}
.imb-box:hover ul{
	opacity: 1;

}
.img-box ul,.img-box ul li{
	transition: 0.5s;
}

/*contact*/

#contact
{
	background-color: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form{
	padding: 15px;

}
.contact-info.fa{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
#footer{
	background:#333;
	color: #fff;
	padding: 12px;
}